# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite
*.db
*.log

# Environment
.env

# Flask-related
instance/
*.db
*.sqlite3
*.pkl
*.pot
*.pyc
*.pyo
*.pyd

# Migrations
migrations/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and Editor Settings
.vscode/
.idea/
*.suo
*.ntvs_analysis.dat
*.ncb
*.sdf
*.opensdf
*.swp
*.swo

# Virtual Environment
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat.pid

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
